<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Confirmare Modificare</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
</head>
<body>
    <br><br>
    <h1 align="center">Modificarile au fost efectuate cu succes!</h1>
    <p align="center">
           <a href="/dupa_acces" class="btn btn-primary btn-lg px-5">
    <i class="fa fa-home"></i> <span>Home</span> </a>
    </p>
</body>
</html>