<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Adauga clasa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
</head>
<body>
    <h1>Adauga o noua clasa.</h1>
    <form action="/nou_clasa" method="post">
        <table>
            <tr>
                <td align="right">IdProfesor:</td>
                <td>Selectati profesorul: 
                    <select name="idprofesor">
                        {% for p in profesori %}
                            <option value="{{ p[0] }}">{{ p[0] }}, {{ p[1] }}, {{ p[2] }}, {{ p[3] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">IdCurs:</td>
                <td>Selectati cursul: 
                    <select name="idcurs">
                        {% for c in curs%}
                            <option value="{{ c[0] }}">{{ c[0] }}, {{ c[1] }}, {{ c[2] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">Data curs:</td>
                <td><input type="text" name="DataCurs" size="30" /></td>
            </tr>
            <tr>
                <td align="right">Clasa:</td>
                <td><input type="text" name="Clasa" size="30" /></td>
            </tr>
            <tr>
                <td align="right">NumarElevi:</td>
                <td><input type="text" name="NumarElevi" size="30" /></td>
            </tr>
        </table>
        <input type="submit" value="Adauga profesorul" />
    </form>
    <br />
       <a href="/dupa_acces" class="btn btn-primary btn-lg px-5">
    <i class="fa fa-home"></i> <span>Home</span> </a>
</body>
</html>