<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
</head>

<body class="bg-dark">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" style></script>
  <hr>
  <br>
  <h2 class="text-center bg-dark text-light">Acces baza de date<br></h2>
  <br>
  <hr class="bg-dark">
  <div class="py-5 bg-info" >
    <div class="container">
      <div class="row">
        <div class="col-md-12"></div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-info w-100 h-25">
    <div class="container">
      <div class="row">
        <div style="position: absolute; top: 20px; left: 20px; size: 10px;"><a href="/afisare_user" class="btn btn-danger btn-lg px-5" ><i class="fa fa-users"></i> Users</a></div>
        <div style="position: absolute; top: 20px; right: 20px; size: 10px; color: blue"><a href="/logout" class="btn btn-danger btn-lg px-5" onclick="return confirm('Sigur doresti sa te deloghezi?');"><i class="fa fa-sign-out"></i> Lgout</a></div>
        <div class="col-md-4 text-center" style><a class="btn btn-primary w-75" href="/tabela_profesori">Profesori<br></a></div>
        <div class="col-md-4 text-center" style><a class="btn btn-primary w-75" href="/tabela_cursuri">Cursuri</a></div>
        <div class="col-md-4 text-center w-75" style><a class="btn btn-primary text-center w-75" href="/tabela_clasa" contenteditable="false">Clasa</a></div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-info">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center" style>
          <div class="btn-group text-center border-dark"> <a href="/modifica_profesor" class="btn btn-primary border rounded border-info">Modifica Profesor</a> <a href="/modifica_curs" class="btn btn-primary border rounded border-info">Modifica Curs</a> <a href="/modifica_clasa" class="btn btn-primary border rounded border-info">Modifica Clasa</a> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center w-100">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center"><a class="btn btn-secondary" target="_blank" rel="noopener noreferrer" href="https://github.com/LiviuGhilinta/Materiale/tree/main"><i class="fa fa-github" aria-hidden="true"></i><span> GitHub</span><br></a></div>
      </div>
    </div>
  </div>
  <hr>
  <hr class="bg-dark">
  <br>

</html>