    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Tabela Profesori</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
    </head>
    <body>
        <h1 align="center">Tabela Profesori:</h1>
        <br />
        

        <form action="/m2_profesor" method="post">
            <table align="center">
                <tr>
                    <td align="right">IdProfesor:</td>
                    <td><input type="text" name="idprofesor" size="30" value="{{ id_aux }}" readonly /></td>
                </tr>
                <tr>
                    <td align="right">Nume:</td>
                    <td><input type="text" name="Nume" size="30" value="{{ prof[1] }}" /></td>
                </tr>
                <tr>
                    <td align="right">Prenume:</td>
                    <td><input type="text" name="Prenume" size="30" value="{{ prof[2] }}" /></td>
                </tr>
                <tr>
                    <td align="right">Disciplina:</td>
                    <td><input type="text" name="Disciplina" size="30" value="{{ prof[3] }}" /></td>
                </tr>
            </table>
            <p align="center">
                <input type="submit" value="Modifica linia">
            </p>
        </form>
        <p align="center">
               <a href="/dupa_acces" class="btn btn-primary btn-lg px-5">
    <i class="fa fa-home"></i> <span>Home</span> </a>
        </p>
    </body>
    </html>