<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Tabela Clasa</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
</head>
<body>

<h1 align="center">Tabela Clasa:</h1>

<p align="center">
    <a href="/nou_clasa" class="btn btn-primary btn-lg px-5">
        <i class="fa fa-address-book"></i> Adauga Clasa
    </a>
</p>

<form action="/m1_clasa" method="post">
<table border="1" align="center">
<tr>
    <th>Mark</th>
    <th>IdClasa</th>
    <th>IdProfesor</th>
    <th>NumeProfesor</th>
    <th>PrenumeProfesor</th>
    <th>DisciplinaProfesor</th>
    <th>IdCurs</th>
    <th>NumeCurs</th>
    <th>DisciplinaCurs</th>
    <th>DataCurs</th>
    <th>Clasa</th>
    <th>NumarElevi</th>
</tr>

{% for cl in clasa %}
<tr>
    <td><input type="checkbox" name="primarykey" value="{{ cl[5] }}"></td>
    <td>{{ cl[5] }}</td>
    <td>{{ cl[6] }}</td>
    <td>{{ cl[0] }}</td>
    <td>{{ cl[1] }}</td>
    <td>{{ cl[2] }}</td>
    <td>{{ cl[7] }}</td>
    <td>{{ cl[3] }}</td>
    <td>{{ cl[4] }}</td>
    <td>{{ cl[8] }}</td>
    <td>{{ cl[9] }}</td>
    <td>{{ cl[10] }}</td>
</tr>
{% endfor %}
</table>

<p align="center">
    <button type="submit" class="btn btn-danger btn-lg px-5">
        	<i class="fa fa-pencil"></i> Modifica linia
    		</button>
</p>
</form>

<p align="center">
    <a href="/dupa_acces" class="btn btn-primary btn-lg px-5">
        <i class="fa fa-home"></i> Home
    </a>
</p>

</body>
</html>
